name: Hello GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  hello-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Date
        run: date

      - name: List Files
        run: ls -la

      - name: Print Environment
        run: env


